<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QR Reader Test</title>
    <script src="./js/lib/html5-qrcode.min.js"></script>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <input type="hidden" id="ipAddress" th:value="${localAddress}" />

    <main>
      <div id="reader"></div>
      <div id="result"></div>
    </main>

    <div id="logger"></div>

    <audio src="./audio/barcode.wav" id="barcode_audio"></audio>
    <script src="./js/lib/stomp.umd.min.js"></script>
    <script src="./js/lib/sweetalert2.js"></script>
    <script src="./js/index.js"></script>
    <script src="./js/config/tools.js"></script>
  </body>
</html>
