<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/receiver.css" />
  </head>
  <body>
    <h1>Product List</h1>
    <h4>Total Cart Price = $ <span id="total_price"></span></h4>

    <div class="container" id="container">
      <!-- Ejemplo de card para producto -->
    </div>

    <script src="./js/config/config.js"></script>
    <script src="./js/lib/stomp.umd.min.js"></script>
    <script src="./js/receive.js"></script>
  </body>
</html>
