<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/receiver.css" />
  </head>
  <body>
    <input type="hidden" id="ipAddress" th:value="${localAddress}">

    <h1>Product List</h1>
    <h4>Total Cart Price = $ <span id="total_price"></span></h4>

    <div class="container" id="container">
      <!-- Ejemplo de card para producto -->
    </div>

    <script src="./js/lib/stomp.umd.min.js"></script>
    <script>
      window.globalBarcoderConfig = {
        webSocketURL: "wss://" + document.getElementById("ipAddress").value + ":8080/websocket",
      };

      if(globalBarcoderConfig.webSocketURL.includes("ERROR")){
        alert("Error while getting your local ip address.");
      }
    </script>
    <script src="./js/receive.js"></script>
  </body>
</html>
