<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./css/receiver.css" />
  </head>
  <body>
    <input type="hidden" id="ipAddress" th:value="${localAddress}">

    <header>
        <h1>LocalHost</h1>
        <nav>
            <a href="#">Inicio</a>
            <a href="#">Productos</a>
            <a href="#">Contacto</a>
            <a href="#">Carrito</a>
        </nav>
    </header>

    <main>
        <h2>Tu Carrito de Compras</h2>
        <section class="cart" id="cart">
        </section>
        <div class="total">
            <h3>Total: $<span id="total_price">0</span></h3>
            <button>Proceder al Pago</button>
        </div>
    </main>

    <footer>
        <p>&copy; 2024 Tienda en Línea</p>
    </footer>

    <!-- LIBS -->
     
    <script src="./js/lib/sweetalert2.js"></script>
    <script src="./js/lib/stomp.umd.min.js"></script>
    <script src="./js/receive.js"></script>
  </body>
</html>
